duckdb
pandas>=2.2.3
numpy>=2.0.2
pyspark>=3.5.0
nltk>=3.8
spacy>=3.0.0 
matplotlib
datasets
pyarrow
fastparquet
ipykernel
torch==2.7.0
torchvision
torchaudio
filelock
huggingface_hub
zstandard
fsspec
emoji
transformers
spark-nlp==5.1.3
transformers==4.48.0
xformers
torchao
sentence-transformers
faiss-cpu
langchain
accelerate>=0.26.0